@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;

  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-size: 15px;
}


#start{
  background-color: #100530; 
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 1000px;
  padding: 30px;
}

#start h1{
  color: white; 
  font-size: 5em; 
  text-align: center;
  padding: 100px 0 40px 0;
}

#start span{
  color: #FDA700;
  font-size: 80px;
}

#start img{
  width: 45%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding-bottom: 100px;
}

.page-wrapper{
  margin: 0 auto;
  max-width: 1000px;
  margin-top: 60px;
}

.wrapper{
  display: flex;
  align-items: center;
}

.transistors-description1{
  font-size: 2.5em;
  margin-right: 20px;
}

.transistors-description1 .on{
  color: #FDA700;
  font-size: 35px;
}

.transistors-description1 .off{
  color: #9C9C9C;
  font-size: 35px;
}

#colors{
  display: flex;
}

#colors img{
  margin-right: 10px;
}

.transistors-description2{
  margin: 50px 0 50px 0;
  font-size: 2.2em;
}

.transistors-description2 .bold {
  font-weight: bold;
  font-size: 32px;
}

#binary-values{
  display: flex;
  justify-content: center;
}

#binary-values img{
  margin: 0 15px;
}

.logic-gates-description{
  font-size: 2.2em;
  padding: 50px 0 50px;
}



.card {
  margin: 0 auto;
  margin-top: 50px;
  width: 100%;
  max-width: 1000px;
  background-color: #d9d9d9;
  padding: 40px;
  border-radius: 30px;
}

.card .container-top {
  display: flex;
  justify-content: space-between;
}

.card .container-top h1 {
  font-weight: 800;
  font-size: 2.5em;
}

.card .container-top button {
  border: none;
  background: none;
  cursor: pointer;
  transition-duration: 700ms;
}

.card .container-top button:hover {
  opacity: 60%;
  transform: scale(120%);
}

.card .container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 400px;
}

.card .container .table {
  width: 30%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.card .container .drawing {
  width: 60%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.card p {
  margin: 10px 0;
  font-size: 1.5em;
}



@media screen and (max-width: 768px){

  #start {
    height: auto;
    padding: 20px;
  }
  
  #start h1 {
    font-size: 3em;
    padding: 50px 0 20px 0;
  }
  
  #start img {
    width: 80%;
    padding-bottom: 50px;
  }

  #colors img{
    margin-right: 5px;
    width: 70px;
  }

  #binary-values img{
    width: 70px;
    margin: 0 15px;
  }
  
  .transistors-description1,
  .transistors-description1 .on,
  .transistors-description1 .off,
  .transistors-description2,
  .transistors-description2 .bold,
  .logic-gates-description {
    font-size: 1em;
  }
}
