@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;

  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

html {
  font-size: 15px;
}

header {
  background-color: #100530;
  height: 90vh;
  max-height: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

header div {
  width: 100%;
  max-width: 700px;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

section {
  padding: 20px;
}

.page-wrapper {
  margin: 0 auto;
  max-width: 1000px;
  margin-top: 60px;
}

.wrapper {
  display: flex;
  align-items: center;
}

.transistors-description1 {
  font-size: 2.5em;
  margin-right: 20px;
}

.transistors-description1 .on {
  color: #fda700;
  font-size: 1em;
}

.transistors-description1 .off {
  color: #9c9c9c;
  font-size: 1em;
}

.wrapper .container-colors {
  display: flex;
  min-width: 40%;
  height: 300px;
}

.wrapper .container-colors div {
  width: 100%;
  margin: 20px;
  border-radius: 15px;
}

#gray-switch {
  animation: colorOneChange 4s infinite;
  box-shadow: #9c9c9c 0 0 40px;
}

@keyframes colorOneChange {
  0% {
    background-color: #9c9c9c;
    box-shadow: #9c9c9c 0 0 40px;
  }
  25% {
    background-color: #fda700;
    box-shadow: #fda700 0 0 40px;
  }
  50% {
    background-color: #fda700;
    box-shadow: #fda700 0 0 40px;
  }
  75% {
    background-color: #9c9c9c;
    box-shadow: #9c9c9c 0 0 40px;
  }
}

#yellow-switch {
  animation: colorTwoChange 4s infinite;
  box-shadow: #fda700 0 0 40px;
}

@keyframes colorTwoChange {
  0% {
    background-color: #fda700;
    box-shadow: #fda700 0 0 40px;
  }
  25% {
    background-color: #9c9c9c;
    box-shadow: #9c9c9c 0 0 40px;
  }
  50% {
    background-color: #9c9c9c;
    box-shadow: #9c9c9c 0 0 40px;
  }
  75% {
    background-color: #fda700;
    box-shadow: #fda700 0 0 40px;
  }
}

.transistors-description2 {
  margin: 50px 0 50px 0;
  font-size: 2.2em;
}

.transistors-description2 .bold {
  font-weight: bold;
  font-size: 1em;
}

#binary-values {
  display: flex;
  justify-content: center;
}

#binary-values img {
  margin: 0 15px;
}

.logic-gates-description {
  font-size: 2.2em;
  padding: 50px 0 50px;
}

.card {
  margin: 150px auto;
  width: fit-content;
  padding: 0 20px;
  margin-top: 70px;
  max-width: 1000px;
  background-color: #d9d9d9;
  padding: 40px;
  border-radius: 30px;
}

.card .container-top {
  display: flex;
  justify-content: space-between;
}

.card .container-top h1 {
  font-weight: 800;
  font-size: 2.5em;
}

.card .container-top button {
  border: none;
  background: none;
  cursor: pointer;
  transition-duration: 700ms;
}

.card .container-top button:hover {
  opacity: 60%;
  transform: scale(120%);
}

.card .container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 400px;
}

.card .container .table {
  width: 30%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition: ease-in;
  transition-duration: 600ms;
}

.card .container .drawing {
  width: 60%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition: ease-in;
  transition-duration: 600ms;
}

.card p {
  margin: 10px 0;
  font-size: 1.5em;
}

@media screen and (max-width: 1000px) {
  .page-wrapper .wrapper {
    flex-direction: column;
  }

  .wrapper .container-colors {
    width: 100%;
    height: 200px;
    max-width: 450px;
  }

  .wrapper .transistors-description1 {
    margin: 0;
  }
}

@media screen and (max-width: 800px) {
  html {
    font-size: 10px;
  }

  .card {
    margin: 100px 20px;
  }

  .card .container {
    flex-direction: column-reverse;
  }

  .card .container .table,
  .card .container .drawing {
    min-height: 50%;
    width: 100%;
    margin-bottom: 10px;
  }

  #binary-values img {
    width: 70px;
    margin: 0 15px;
  }
}
